node_cache/
node_modules/
package-lock.json
Koha/Plugin/Com/PerplexedTheta/SENUX/static_files/.npm
Koha/Plugin/Com/PerplexedTheta/SENUX/static_files/.nvm
Koha/Plugin/Com/PerplexedTheta/SENUX/static_files/dist/senux.*
Koha/Plugin/Com/PerplexedTheta/SENUX/static_files/node_modules/
Koha/Plugin/Com/PerplexedTheta/SENUX/static_files/customisations.js
Koha/Plugin/Com/PerplexedTheta/SENUX/static_files/customisations.scss
Koha/Plugin/Com/PerplexedTheta/SENUX/static_files/variables.scss
Koha/Plugin/Com/PerplexedTheta/SENUX/static_files/package-lock.json
